<!-- <a [routerLink]="['/']">
  <h1>My Store</h1>
</a>

<a [routerLink]="['/cart']" class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout</a> -->
<div class="sticky-nav-wrapper">
<nav class="custom-nav-class" ngStickyNav>
  <mat-toolbar color="primary">
    <span [routerLink]="['/']" style="cursor: pointer;">
      <span *ngIf="!selectedPlayer">Please select a player!</span>
      <span *ngIf="selectedPlayer">Welcome, {{selectedPlayer}}</span>
    </span>
    <!-- <a [routerLink]="['/']">
      <h1>Avalon The App</h1>
    </a> -->

    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item [routerLink]="['/players']">
        <span>Select Player</span>
      </button>
      <button mat-menu-item [routerLink]="['/new_player']">
        <span>Make New Player</span>
      </button>
      <button mat-menu-item [routerLink]="['']">
        <span>Show Game</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</nav>
</div>